extends ../layout

block content

    #container
        h1 #{pad.name} 
        .pad-meta-data 
            span #{pad.radius} m 
            if pad.expiry 
                / Expires #{pad.expiry}

        form#newpost(action="/api/post/new/", method="GET")
            textarea#post-body
            input#pad-uuid(type="hidden", name="uuid", value="#{pad.uuid}") 
            input.btn(type="submit", value="Post")

        #post-error
        #postlist
        for post in posts
            include ../snippets/post_detail

block script
    script.

        per_page_location_callback = function() {
            
            var socket = io.connect("#{domain}"); 
            
            socket.on('connect', function() {
                socket.emit('join', "#{pad.uuid}");
            });


            socket.on('newpost-notify', function (data) {
                $("#postlist").prepend($(data).fadeIn(1000));
                // reset the form values 
                $("textarea#post-body").val("");
            });

            $("#newpost").submit(function() {		
                formdata = {
                    pad_id: $("input#pad-uuid").val(),
                    post_body: $("textarea#post-body").val(),
                    user_id: localStorage["geopad_userid"]
                };
                console.log("form data:");
                console.log(formdata);

                request = $.ajax({
                    data: decodeURIComponent($.param(formdata)),
                    type: "GET",
                    contentType: "application/json",
                    url: "/api/post/new/",
                });
                request.fail(function(msg) {
                    console.log("error:")
                    console.log(msg);
                    $("#post-error").html(msg.responseText);			
                });

                return false;
            });
        }




