extends ../layout

block content

    #container
        #pad-header
            h1#pad-title #{pad.name} 
            .pad-meta-data 
                span#pad-radius #{pad.radius}
                span m 
                / Expires 
                span
                    if pad.expiry         
                        span.relative-date#pad-expiry(title="#{pad.expiry}") #{pad.expiry}
                    else
                        span.relative-data#pad-expiry No expiry
                    #expiry-wrapper
                        select#expiry-options(name="padid")
                            option(value="24") 24 hours
                            option(value="168") 1 week
                            option(value="744") 1 month
                            option(value="") Never


        hr

        form#newpost(action="/api/post/new/", method="GET")
            textarea#post-body
            input#pad-uuid(type="hidden", name="pad_id", value="#{pad.uuid}") 
            br
            input.btn(type="submit", value="Post")

        #post-error
        #postlist
        for post in posts
            include ../snippets/post_detail

block script
    script.

        $("#newpost").submit(function() {		
            formdata = {
                pad_id: $("input#pad-uuid").val(),
                post_body: $("textarea#post-body").val(),
                user_id: localStorage["geopad_userid"]
            };
            console.log("form data:");
            console.log(formdata);

            request = $.ajax({
                data: decodeURIComponent($.param(formdata)),
                type: "GET",
                contentType: "application/json",
                url: "/api/post/new/",
            });
            request.fail(function(msg) {
                console.log("error:")
                console.log(msg);
                $("#post-error").html(msg.responseText);			
            });

            return false;
        });

        $("#pad-expiry").click(function() {
            $("#expiry-wrapper").show();
        });


        // called a single time after the initial position is retrieved. 
        connections_setup = function(user_corrected_lat, user_corrected_lng) {
            
            var socket = io.connect("#{domain}"); 

            // register the socket callbacks for this page and join the
            // appropriate rooms. 
            socket.on('connect', function() {
                socket.emit('join', "#{pad.uuid}");
                // join a room just for this user
                socket.emit('join', localStorage.geopad_userid);
            });

            var user_room_success_string = "join-success-"+ localStorage.geopad_userid;
            socket.on(user_room_success_string, function() {
                console.log("welcome. retrieving nearby pads...")
                retrieve_nearby_pads(page_vars.user_corrected_lat, page_vars.user_corrected_lng);
                socket.emit('owner-query', {'user_id': localStorage.geopad_userid, 'pad_id': "#{pad.uuid}"});
            });

            socket.on('owner-proclaim', function() {
                console.log("woohoo, you're an owner of this pad.");
                //$("#pad-header").css();
                // make the pad settings editable
                $("#pad-title,#pad-radius,#pad-expiry").attr("contenteditable", true)
                $("#pad-title,#pad-radius,#pad-expiry").keypress(function(event) {
                    if (event.which == 13) {
                        var setting = $(this).attr("id");
                        var new_val = $(this).text();
                        formdata = {
                            'user_id': localStorage.geopad_userid,
                            'pad_id' : '#{pad.uuid}',
                            'radius' : $("#pad-radius").text(),
                            'expiry' : $("#pad-expiry").attr("title"),
                            'name' : $("#pad-title").text()
                        };
                        $.ajax({
                            data: formdata,
                            type: "GET",
                            contentType: "application/json",
                            url: "/api/pad/settings"
                        });
                        return false;
                    }
                });
            });

            socket.on('#{pad.uuid}', function(data) {
                console.log("updated pad settings:");
                console.log(data);
            });

            socket.on('newpost-notify', function (data) {
                $("#postlist").prepend($(data).fadeIn(1000));
                // reset the form values 
                $("textarea#post-body").val("");
            });


            socket.on('padlist', function (data) {
                pad_list = data.pads;
                console.log("pads retrieved near this pad:");
                console.log(pad_list);
                $("#pad-selection-dropdown").html("");
                $("#pad-selection-dropdown").append("<option value='newpad'>New Pad...</option>");
                for (var p in pad_list) {
                    $("#pad-selection-dropdown").append(
                        "<option value='" + pad_list[p].uuid + "'>" + pad_list[p].name + "</option>"
                    );
                }
            });

        };

        page_vars = new page_global_vars();
        geolocation_launch(connections_setup, page_vars);




