.pad-meta-data(id="#{pad.uuid}")
    h3.pad-name-meta.subheading
        a.padlink(href="/pad/" + pad.uuid) #{pad.name}

    span.pad-radius-meta
        if pad.radius == 50 
            | Building 
        if pad.radius == 500 
            | City Block 
        if pad.radius == 2000
            | Neigbourhood 
        if pad.radius == 10000 
            | City  

    if pad.expiry 
        / Expires 
        span.pad-expiry-meta.relative-date(title="#{pad.expiry}") #{pad.expiry}
    else
        span.pad-expiry-meta.relative-date(title="#{pad.expiry}") / No Expiry


    hr

    script.
        $(document).ready(function() {
            $(".relative-date").timeago();
        });

